<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>choose </title>
</head>
<body>


<button class="btn btn"> on a atterie BH , on est encore dans l'avion</button>
<button class="btn btn"> je n'ai pas encore passer la douane</button>
<button class="btn btn"> j'ai/on a passer la douane , on attend les valises </button> ou <button> je n'ai pas de valise</button>
<button class="btn"> j'ai pris mes baggages je sors porte 1,2,3</button>


{% if scores %}
<button>other </button>



{% endif %}

</body>
</html>